/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* Universal code start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}
/* Universal code end */

/* Banner style start */

.banner-container {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: right;
    height: 100vh;
    background: url("./images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-right: 100px;
}

.banner-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

/* Banner Button Style */

.banner-button-orange {
    color: #FFF;
    text-align: right;
    margin-top: 32px;
    font-size: 20px;
    display: block;
    font-weight: 600;
    border: 1px solid #F15B22;
    padding: 20px 25px;
    border-radius: 5px;
    background: #F15B22;
    float: right;
    transition: .2s ease-in-out;
}

.banner-button-orange:hover {
    border: 1px solid #F15B22;
    background-color: #FFF;
    color: #F15B22;
}
/* Banner style end */


/*All Section style*/
section {
    margin: 150px 0;
}


/* My failures section style start */

.my-failures-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0px 100px;
    gap: 100px;
}

.my-failures-content {
    width: 50%;
}

.my-failures-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.my-failures-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.my-failures-list li {
    list-style: none;
    margin-top: 8px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.my-failures-list .icon {
    color: #16D887;
    margin-right: 10px;
}
/* My failures section style end */

/* My plans section style start */
.my-plans {
    height: 40vh;
    padding: 0px 100px;
}

.section-title {
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 55px;
}

.all-plans-items {
    display: flex;
    justify-content: space-around;
}

.plan-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.plan-image {
    margin-bottom: 18px;
}

.plan-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.plan-description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}
/* My plans section style end*/

/* Call now banner style start  */

.call-now-banner {
    margin-right: 100px;
    margin-left: 100px;
}

.call-now-content {
    padding: 60px 0px 60px 65px;
    border-radius: 8px;
    background: url('./images/watch.png'), linear-gradient(90deg, #F15B22, rgba(241, 91, 34, 0.00) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}

.call-now-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.call-now-btn {
    padding: 20px 36px;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: hidden;
}
/* Call now banner style start  */

/* Footer style start*/

footer {
    padding: 140px 100px 50px 100px;
    background-color: #151414;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    width: 50%;
}

.logo-white {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.footer-email {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.footer-phone {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.social-icon img {
    margin: 5px;
}
/* Subscribe form style start */
.subscribe-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}

.input-area {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #FFF;
    padding: 22px 160px 22px 22px;
    margin-bottom: 16px;
    display: block;
}

.input-area::placeholder {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.subscribe-btn {
    border-radius: 8px;
    background: #FFF;
    padding: 20px 36px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    display: block;
}
/* Subscribe form style end */

/* Copywrite text style */
.copywrite-text {
    color: #ffffff9e;
    text-align: center;
    margin-top: 50px;
}
/* Footer style end*/