* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal font */
body {
    font-family: sans-serif;
}

/* Navigation style */

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: rgba(255, 255, 255, 0.277);
}

.logo a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
}

/* Menu Style */

.menu ul {
    display: flex;
    gap: 30px;

}

.menu ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    transition: .2s ease;
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li:hover {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(223, 223, 223);

}

/* Banner style */

.banner-container {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: right;
    height: 100vh;
    background: url("./images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-right: 100px;
}

.banner-container-two {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: right;
    height: 100vh;
    background: url("./images/banner/banner2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-right: 100px;
}

.banner-container-three {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: right;
    height: 100vh;
    background: url("./images/banner/banner3.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-right: 100px;
}

.banner-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.banner-title-white {
    color: #fff;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.banner-description-white {
    color: #fff;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

/* Banner Button Style */

.banner-button-orange {
    color: #FFF;
    text-align: right;
    margin-top: 32px;
    font-size: 20px;
    display: block;
    font-weight: 600;
    border: 1px solid #F15B22;
    padding: 20px 25px;
    border-radius: 5px;
    background: #F15B22;
    float: right;
    transition: .2s ease-in-out;
}

.banner-button-orange:hover {
    border: 1px solid #F15B22;
    background-color: #FFF;
    color: #F15B22;
}

.banner-button-white {
    color: #005FAC;
    text-align: right;
    margin-top: 32px;
    font-size: 20px;
    display: block;
    font-weight: 600;
    border: 1px solid white;
    background: white;
    padding: 20px 25px;
    border-radius: 5px;
    float: right;
    transition: .2s ease-in-out;
}
.banner-button-white:hover{
    border: 1px solid #005FAC;
    color: #fff;
    background-color: #005FAC;
}